{% set menu_active = menu_active ?? null %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Open+Sans">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/pure.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/grids-responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/font-awesome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% block body %}
            <header id="header" class="pure-menu">
                <a href="{{ url('homepage') }}" id="logo" class="pure-menu-heading">
                    <span class="image avatar"><img src="{{ asset('images/logo.png') }}" title="logo"></span>
                    <h1>Eric Gach</h1>
                    <p>Software Engineer</p>
                </a>
                <nav id="nav">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-separator"></li>
                        <li class="pure-menu-item section-link">
                            <a href="{{ url('homepage') }}#about" class="pure-menu-link" data-section="about">
                                <span class="menu-text fa-user-circle">About Me</span>
                            </a>
                        </li>
                        <li class="pure-menu-item section-link">
                            <a href="{{ url('homepage') }}#resume" class="pure-menu-link" data-section="resume">
                                <span class="menu-text fa-file-text">My Resume</span>
                            </a>
                        </li>
                        <li class="pure-menu-item section-link">
                            <a href="{{ url('homepage') }}#projects" class="pure-menu-link" data-section="projects">
                                <span class="menu-text fa-codepen">My Projects</span>
                            </a>
                        </li>
                        <li class="pure-menu-separator"></li>
                        {% if app.user %}
                            <li class="pure-menu-item{% if menu_active == 'dashboard' %} pure-menu-active{% endif %}">
                                <a href="{{ url('portfolio_user_dashboard') }}" class="pure-menu-link">
                                    <span class="menu-text fa-dashboard">Dashboard</span>
                                </a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ url('logout') }}" class="pure-menu-link">
                                    <span class="menu-text fa-sign-out">Logout</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="pure-menu-item{% if menu_active == 'register' %} pure-menu-active{% endif %}">
                                <a href="{{ url('portfolio_security_register') }}" class="pure-menu-link">
                                    <span class="menu-text fa-user-plus">Register</span>
                                </a>
                            </li>
                            <li class="pure-menu-item{% if menu_active == 'login' %} pure-menu-active{% endif %}">
                                <a href="{{ url('login') }}" class="pure-menu-link">
                                    <span class="menu-text fa-sign-in">Login</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                <nav id="social">
                    <div class="pure-menu-separator"></div>
                    <ul class="pure-menu-list pure-menu-horizontal">
                        <li class="pure-menu-item"><a href="https://github.com/{{ github_username }}/" class="pure-menu-link fa-github-square" title="GitHub" target="_blank"></a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link fa-twitter-square" title="Twitter" target="_blank"></a></li>
                    </ul>
                </nav>
            </header>
            <section id="content">
                {% block content %}{% endblock %}
            </section>
            <a id="menuToggle"></a>
        {% endblock %}
        {%- block javascripts -%}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        {%- endblock -%}
    </body>
</html>
