{% extends "::base.html.twig" %}

{% block title %}AppBundle:Security:register{% endblock %}

{% form_theme registerForm '@Portfolio/Form/purecss_layout.html.twig' %}

{% block content %}
    <h1>Welcome to the Security:register page</h1>
    {{ form_start(registerForm) }}
    {{ form_row(registerForm.email) }}
    {{ form_row(registerForm.username) }}
    {{ form_row(registerForm.name) }}
    {{ form_row(registerForm.plainPassword) }}
    <div class="pure-controls">
        {{ form_widget(registerForm.submit) }}
        {{ form_widget(registerForm.reset) }}
    </div>
    {{ form_end(registerForm) }}
{% endblock %}
